* {
  margin: 0;
  padding: 0;
  /* border: 1px red solid; */
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.books-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.books-header, .book {
  display: grid;
  grid-template-columns: 50% 25% 15% 10% 10%;
}

.books-header {
  text-align: center;
}

.title, .author, .pages, .isRead {
  padding: 0.1rem 0.5rem;
}
.title, .author {
  text-align: left;
}
.pages {
  text-align: right;
}
.isRead {
  text-align: center;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.edit-button, .delete-button {
  cursor: pointer;
}